<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<p><%= link_to "Back to the index", "/articles" %></p>
<p><%= link_to "Edit article", "#{@article.id}/edit" %></p>
<p><%= link_to "Delete article", "#article_path(article)", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>
